<div id="side-menu"  class="col-sm-3">
  <h1><strong>
    <% if user_signed_in? %>
      <% if current_user.id == @user.id %>
      Your Profile
      <% else %>
      <%= @user.name%>'s Profile
      <% end %>
    <% else %>
      <%= @user.name%>'s Profile
    <% end %>
  </strong></h1>
  <h5><%= @user.email%></h5>
  <br>
  <ul id="links-list">
    <%= render 'blogs/index/side_menu/no_login_required_links' %>
  </ul>
</div><!-- side-menu -->
