<li id="">
  <%= link_to users_path do %>
    <i class="fa fa-users" aria-hidden="true"></i> User List
  <% end %>
</li>

<li id="">
  <%= link_to root_path do %>
    <i class="fa fa-pencil" aria-hidden="true"></i> Dashboard
  <% end %>
</li>
